<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="res">
    <link href="../../static/css/reset.css" th:href="@{/css/reset.css}" rel="stylesheet" type="text/css"/>
    <link href="../../static/css/jquery-ui.css" th:href="@{/css/jquery-ui.css}" rel="stylesheet" type="text/css"/>

    <script type="text/javascript" src="../../js/jquery-ui.min.js" th:src="@{/js/jquery-ui.min.js}"></script>
    <script type="text/javascript" src="../../static/js/commonwechat.js" th:src="@{/js/commonwechat.js}"></script>
</head>
</html>
