<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta th:replace="common/commonJs::js"/>
    <meta th:replace="common/res::res"/>
    <title>公众号管理</title>
    <link rel="stylesheet" type="text/css" href="../../../../../awp-verticle-admin/src/static/css/font-awesome.min.css" th:href="@{/css/font-awesome.min.css}">
    <link rel="stylesheet" type="text/css" href="../../../../../awp-verticle-admin/src/static/css/bootstrap.css" th:href="@{/css/bootstrap.css}">
    <link rel="stylesheet" type="text/css" href="../../../../../awp-verticle-admin/src/static/css/responsive.css" th:href="@{/css/responsive.css}">
    <link rel="stylesheet" type="text/css" href="../../../../../awp-verticle-admin/src/static/css/style.css" th:href="@{/css/style.css}">
    <link rel="stylesheet" type="text/css" href="../../../../../awp-verticle-admin/src/static/css/plugin/sweet-alert/sweet-alert.css" th:href="@{/css/plugin/sweet-alert/sweet-alert.css}">
</head>

<body>
<div th:replace="menu::menu"></div>
<div class="content">
    <div class="content1">
        <div class="container-widget">
            <div class="row">
                <!-- 内容开始 -->
                <div class="col-md-12 col-sm-12">
                    <blockquote style="border-left:5px solid #ff790c"><h4>粉丝管理</h4></blockquote>

                    <div class="col-md-12 col-sm-12 padding-t-25 padding-b-25">

                        <div class="block-content-description">
					<span>
						管理、同步微信公众账号的粉丝（认证公众号）
					</span>
                        </div>
                        <form id="queryPageForm" action="">
                            <div class="block-content-content">
                                <div class="optbar">
                                    <input class="btn btn-success" id="sysBt" style="width:150px;"
                                           type="button"
                                           value="批量同步粉丝"/>
                                </div>
                                <table class="fm-table">
                                    <thead>
                                    <tr style="height: 45px;">
                                        <td style="width:100px;">头像</td>
                                        <td style="width:100px;">昵称</td>
                                        <td style="width:30px;">性别</td>
                                        <td style="width:100px;">省-市</td>
                                        <td style="width:100px;">OpenID</td>
                                    </tr>
                                    </thead>
                                    <tbody th:each="row, status:${pagination.items}">
                                        <tr th:style="${status.index %2 == 0} ? 'height:40px;' : 'height:40px;background-color:#f9f9f9;'">
                                        <td><img style="width: 50px;height: 50px;margin-top: 5px;margin-bottom: 5px" th:src="${row.headimgurl}"></td>
                                        <td th:text="${row.nicknameStr}">Leibniz</td>
                                        <td th:text="${row.gender == 1}? '男': '女'">男</td>
                                        <td th:text="${row.province+'-'+row.city}">广东-广州</td>
                                        <td th:text="${row.openId}">oFaJLxCbaSnH6J5qIKWi3Fg6Tx9Y</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div th:replace="common/pagination::page"></div>
                            </div>
                        </form>
                    </div>
                    <div class="clearfloat"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="footer::foot"></div>
<!--加入列表js -->
<script type="text/javascript" src="../../turing/templateManager/listTemplate.js"
        th:src="@{/turing/weixin/wxcms/fansList.js}"></script>
</body>
</html>

