body,div,
p,br,
h1,h2,h3,h4,h5 {
	padding: 0;
	margin: 0;
	font-family: "微软"
}
.qr-title {
	font-size: 32px;
	padding: 30px; 
}
.qr-num {
	height: 100px;
	width: 100%;
	background: #eee;
}
.form-type {
	line-height: 25px;
	padding: 25px;
	left: 30px;
}
.pay-num {
	font-size: 20px;
            padding-top: 35px;
}
.qr-content {
	width: 600px;
	height: 350px;
	margin: 20px auto;
}
.chat-pay {
	position: absolute;
	width: 180px;
	height: 180px;
	margin-top: 100px;
}
.qr-str {
	position: absolute;
	bottom: 90px;
	left: 610px;
}
.pay-success {
	 margin-top: 80px; 
}
.btn-style {
           position: relative;
           min-width: 100px;
           bottom: -80px;
           left: 42%;
}