<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>客户管理中心</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description"
          content="Kode is a Premium Bootstrap Admin Template, It's responsive, clean coded and mobile friendly">
    <meta name="keywords" content="bootstrap, admin, dashboard, flat admin template, responsive,"/>
    <meta th:replace="common/commonJs::js"/>

    <link rel="stylesheet" type="text/css" href="../../static/css/root.css" th:href="@{/css/root.css}"/>

    <!-- Data Tables 表格插件-->
    <script type="text/javascript" src="../../static/js/datatables/datatables.min.js" th:src="@{/js/datatables/datatables.min.js}"></script>
    <!-- validate.js - 表格验证 -->
    <script type="text/javascript" src="../../static/js/jquery.validate.js" th:src="@{/js/jquery.validate.js}"></script>
    <script type="text/javascript" src="../../static/js/jquery.cookie.js" th:src="@{/js/jquery.cookie.js}"></script>
    <!-- Developer Defined -->
    <script type="text/javascript" src="../../static/turing/userManager/userCenter.js" th:src="@{/turing/userManager/userCenter.js}"></script>
    <script type="text/javascript" src="../../js/title.js" th:src="@{/js/title.js}"></script>

    <style type="text/css">
        span.required {
            color: red;
        }
    </style>

    <!-- jQuery Validate -->
    <script type="text/javascript" src="../../static/js/jquery.validate.js"
            th:src="@{/js/jquery.validate.js}"></script>
    <script type="text/javascript">
        $role = [[${session.turinguser.role}]]
    </script>
    <style type="text/css">
        label.error {
            color: #ef4836;
        }

        span.required {
            color: #ef4836;
        }
    </style>
</head>

<body>
<div th:replace="menu::menu"></div>
<!-- START CONTENT -->
<div class="content">

    <!-- Start Page Header -->
    <div class="page-header">
        <h1 class="title">系统管理</h1>
        <ol class="breadcrumb">
            <li class="active">账号管理中心</li>
        </ol>
    </div>
    <!-- End Page Header -->
    <!-- START CONTAINER -->
    <div class="container-padding">

        <!-- Start Row -->
        <div class="row">

            <!-- Start Panel -->
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="pull-right"></div>
                    <div class="panel-title">
                        <div class="pull-right padding-t-10">
                            <a type="button" id="btn_add_user" class="btn btn-success">
                                <i class='fa fa-plus' data-toggle='tooltip' data-placement='bottom' title='新增客户信息'>&nbsp;新增客户</i>
                            </a>
                        </div>

                        <input id="industryList" th:value="${industryList}" style="display: none">
                        <input id="role" th:value="${role}" style="display: none">
                        <div class="pull-right padding-t-10 padding-r-15" th:if="${role == 0}">
                            <select id="roleSel" class="form-control">
                                <option th:value="1">所有主帐号</option>
                                <!--<option th:value="2">子帐号</option>-->
                            </select>
                        </div>
                        <h4 id="titles">主帐号列表</h4>
                    </div>

                    <div class="panel-body table-responsive">
                        <table class="table table-hover" id="EnterpriseUseList" width="100%">
                            <thead>
                            <tr class="text-center">
                                <!-- <td class="text-center"><div class="checkbox margin-0 checkbox-warning"><input id="checkbox" type="checkbox" onclick="checkAll(this)"><label for="checkbox"></td> -->
                                <td>客户名称</td>
                                <td>登录账号</td>
                                <td>保证金(单位：元)</td>
                                <td>创建日期</td>
                                <td>创建者</td>
                                <td>状态</td>
                                <td style="width: 93px;">操作</td>
                            </tr>
                            </thead>
                        </table>
                    </div>
                    <!-- table end -->

                    <div th:replace="userManager/editUser::editUserFragment"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--提示语-->
<div class="mouse-over-tips css3 ">
    <span>▲</span>
    <p class="txt1">提示语</p>
</div>
<div th:replace="footer::foot"></div>
</body>

</html>