<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <body>
        <div th:fragment="foot">
            <div class="row footer">
                <div class="center-block">
                    <div style="text-align: center;">
                        Copyright © 2016 <a href="http://www.turingdi.com/" target="_blank">广州图灵科技有限公司</a>
                        粤ICP备15017107号-1
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>