<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>系统管理</title>
    <link rel="stylesheet" type="text/css" href="../../css/root.css">
    <link rel="stylesheet" type="text/css" href="../../css/bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="../../css/fileinput.css"/>
    <link rel="stylesheet" type="text/css" href="../../css/responsive.css"/>
    <link rel="stylesheet" type="text/css" href="../../css/style.css"/>
    <link rel="stylesheet" type="text/css" href="../../css/plugin/sweet-alert/sweet-alert.css">
    <style type="text/css">
        label.error {
            color: #ef4836; /*错误信息的颜色*/
        }

        span.required {
            color: #ef4836; /*必填字段星号的颜色*/
        }
    </style>
</head>
<body>
<div class="loading"><img src="../../img/loading.gif" alt="loading-img"></div>
<div id="all">
    <!-- START TOP -->
    <div id="top" class="clearfix">
        <div class="applogo">
            <img src="../../img/logo.png" height="50" style="margin-top:-13px;">
        </div>
        <a href="#" class="sidebar-open-button">
            <i class="fa fa-bars"></i>
        </a>
        <a href="#" class="sidebar-open-button-mobile">
            <i class="fa fa-bars"></i>
        </a>
        <a class="sidepanel-open-button dropdown-toggle profilebox" onclick="jwtLogout()">
            <i class="fa fa-sign-out"></i>
        </a>

        <ul class="dropdown-menu dropdown-menu-list dropdown-menu-right">
            <li role="presentation" class="dropdown-header">设置</li>
            <li>
                <a href="userManager/personalUser.html">
                    <i class="fa falist fa-lock"></i>
                    个人信息
                </a>
            </li>
        </ul>
        <ul class="top-right">
            <li class="dropdown link" onclick="window.location.href='../account/editInfo.html'" title="个人信息">
                <a href="#" class="profilebox">
                    <span id="userNameSpan"></span>
                </a>
                <span id="topIdsteName"></span>
                <a href="#" data-toggle="dropdown" class="dropdown-toggle profilebox">
                    <img src="../../img/profileimg.png" alt="img"><b>{{curName}}</b><span class="caret"></span>
                </a>
            </li>
        </ul>
    </div>
    <!-- END TOP -->

    <!-- START SIDEBAR -->
    <div class="sidebar clearfix">
        <div class="sidebar-colorful">
            <ul class="sidebar-panel nav" id="leftmenu">
                <li id="publicAccountLi">
                    <a href="#"><span class="icon color3"><i class="fa fa-weixin"
                                                             aria-hidden="true"></i></span>公众号管理<span
                            class="caret"></span></a>
                    <ul id="publicAccount">
                        <li id="wechatNumberId">
                            <a href="../account/editWx.html">微信公众号配置</a>
                        </li>
                        <li id="wxpayListLi">
                            <a id="wxpayList" href="../account/pay.html">支付配置</a>
                        </li>
                    </ul>
                </li>
                <li id="systemManagerLi">
                    <a href="#"><span class="icon color7"><i class="fa fa-cogs" aria-hidden="true"></i></span>系统管理<span
                            class="caret"></span></a>
                    <ul id="systemManager">
                        <li id="pswdMenuLi">
                            <a id="pswdMenu" href="../account/editInfo.html">修改密码</a>
                        </li>
                        <li id="base64MenuLi">
                            <a id="base64Menu" href="../sys/base64.html">Base64工具</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <!-- END SIDEBAR -->

    <!-- START CONTENT -->
    <div class="content">
        <!-- Start Page Header -->
        <div class="page-header">
            <h1 class="title">系统管理</h1>
            <ol class="breadcrumb">
                <li class="active">修改密码</li>
            </ol>
            <!-- 主账号操作公众号配置时显示出来。 -->
            <div class="right text-r" id="accountList" style="display: none">
                <div class="pull-right padding-r-15">
                    <span id="accountTitle" style="display: inline-block;padding-top: 6px;">帐号：</span>
                    <div class="pull-right padding-r-50">
                        <select class="form-control" style="width: 200px;" v-model="selectedEid">
                            <option v-for="acc in accList" :value="acc.id">{{acc.name}}</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Page Header -->

        <!-- START CONTAINER -->
        <div class="container-padding">
            <!-- Start Row -->
            <div class="row">
                <!-- Start Panel -->
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="pull-right"></div>
                        <div class="panel-title"><h4>修改密码/邮箱</h4></div>
                        <div class="panel-body">
                            <form id="accPswd" class="form-horizontal" role="form" action="#">
                                <input type="hidden" name="id" id="id" :value="eid">
                                <div class="col-md-10">
                                    <div class="form-group">
                                        <label for="email" class="col-sm-4 control-label">登录邮箱<span
                                                class="required">*</span></label>
                                        <div class="col-sm-4">
                                            <input type="text" class="form-control" id="email" name="email"
                                                   v-model="email">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="oldPassword" class="col-sm-4 control-label">原密码<span
                                                class="required">*</span></label>
                                        <div class="col-sm-4">
                                            <input type="password" class="form-control" id="oldPassword" name="password"
                                                   v-model="password">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="newPassword" class="col-sm-4 control-label">新密码<span
                                                class="required"></span></label>
                                        <div class="col-sm-4">
                                            <input type="password" class="form-control" id="newPassword"
                                                   name="newPassword" v-model="newPassword">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="rePassword" class="col-sm-4 control-label">重复密码<span
                                                class="required"></span></label>
                                        <div class="col-sm-4">
                                            <input type="password" class="form-control" id="rePassword"
                                                   name="rePassword" v-model="rePassword">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-offset-5 col-sm-10">
                                            <input class="btn btn btn-success wechatNumber-btn" style="width:150px"
                                                   id="submits" type="submit" value="提交">
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- End Panel -->
            </div>
            <!-- End Row -->
        </div>
        <!-- END CONTAINER -->
    </div>
</div>
<!-- END CONTENT -->
<script type="text/javascript" src="../../js/jquery.min.js"></script>
<script type="text/javascript" src="../../js/jquery.validate.js"></script>
<script type="text/javascript" src="../../js/jquery.md5.js"></script>
<script type="text/javascript" src="../../js/bootstrap/bootstrap.min.js"></script>
<script type="text/javascript" src="../../js/vue.min.js"></script>
<script type="text/javascript" src="../../js/sweet-alert.min.js"></script>
<script type="text/javascript" src="../../turing/common/common.js"></script>
<script type="text/javascript" src="../../turing/account/editInfo.js"></script>
</body>
</html>