/**html{background:#f7f5f5}**/
dl, dt, dd, ul, ol, li, pre, form, fieldset, input, textarea, p, blockquote, th, td {
    margin: 0;
    padding: 0;
    font-family: "微软雅黑";
	font-size: 14px;
}
a, button {
    cursor: pointer;
}
select {
	width: 158px;
}
ol, ul, li {
    list-style: none outside none;
}
a {
    color: #000;
    text-decoration: none;
}
a:hover{
	text-decoration: underline;
}
.clearfloat {
	clear: both;
}

.gray-span{
	color:#8d8d8d;
}

.cur-li{
	color: #18b3c5;
	text-decoration:underline;
}

.gray-btn{
	display:inline-block;
	cursor:pointer;
	background-color:#8d8d8d;
	border: 1px solid #8d8d8d; 
	border-radius:3px;
	width:90px;
	height: 30px;
	line-height: 28px;
	margin-left: 10px;
}

.optbar{
	text-align:right;
	margin-bottom: 10px;
}

.layer{
	display: none;	
}
.shiyong{
	border-radius:5px;
	margin-top:25px;
	width: 152px;
	height: 50px;
	background: url(./images/shiyong.png) no-repeat;
}
.download{
	border-radius:5px;
	width:248px;
	height: 82px;
	background: url(./images/jeewxdownload.png) no-repeat;
}
.preview{
	border-radius:5px;
	margin-left:15px;
	width: 185px;
	height: 82px;
	background: url(./images/preview.png) no-repeat;
}
.top {
	background-color:#fff;
	width:100%;
	height: 60px;
	border-bottom: 1px solid #d9dadc;
}
.top2{
	background: url(./images/top2bg.png) repeat;
	width:100%;
	height:350px;
}
.top-bar {
	margin: 0 auto;
	width: 1200px;
	height:60px;
	line-height:60px;
}

.logo{
	float:left;
	width:316px;
	height:60px;
	background: url(./images/logo.png) no-repeat;
}
.shiyong{
	border-radius:5px;
	margin-top:5px;
	width: 152px;
	height: 50px;
	background: url(./images/shiyong.png) no-repeat;
}
.bg {
	background-color:#e7e8eb;
}
.login-bg{
	margin:0 auto;
	border-radius:10px;
	width: 620px;
	height: 340px;
	background: url(./images/loginbg.png)
}
.split{
	float:left;
	margin:0 20px;
	height:350px;
	width: 1px;
	background:  url(./images/split.png) no-repeat;
}
.top2-content{
	margin: 0 auto;
	width: 1024px;
	height:350px;
}

/**块内容区**/
.block-nav {
	float:left;
	width:210px;
	min-height:500px;
	text-align: left;
	background-color:#fff;
}

.chuizhi-ul{
	font-size:16px;
}
.chuizhi-ul li{
	font-size: 14px;
	margin:2px 0;
}

.nav-ul{
	border-bottom: 1px solid #e7e7eb;
	padding-bottom: 10px;
}

.nav-ul li{
	width:210px;
	height:35px;
}
.nav-ul .title{
	font-size:16px;
	margin-left:30px;
	font-weight:bold;
	color:#8d8d8d;
	margin-top:10px;
	display: inline-block;
}
.nav-ul .cur-nav{
	background-color:#44b549;
}
.nav-ul .cur-nav a:hover{
	background-color:#44b549;
}
.nav-ul .cur-nav span{
	color:#fff;
}

.nav-ul li a{
	text-decoration:none;
	display:inline-block;
	width:210px;
	height:35px;
	line-height: 35px;
}
.nav-ul li a:hover{
	background-color:#f4f5f9;
}
.nav-ul li span{
	margin-left:60px;
}

.block-content{
	text-align:left;
	width:989px;
	float:right;
	min-height:500px;
	background-color:#fff;
	border-left: 1px solid #d9dadc;
}

.block-content-nav{
	height:65px;
	line-height: 65px;
	border-bottom: 1px solid #d9dadc;
}

.block-content-nav .title{
	font-size:16px;
	margin-left:30px;
	font-weight:bold;
	color:#8d8d8d;
	display: inline-block;
}

.block-content-description{
	height:45px;
	padding-top:20px;
	padding-bottom: 40px;
	background-color:#f4f5f9;
	padding-left: 30px;
}

.block-content-description span{
	color: #8d8d8d;
}

.block-content-content{
	margin: 20px 30px 50px 30px;
}

.fm-form{
	width:100%;
}
.fm-form select{
	width:144px;
	height: 20px;
}
.fm-form .helptext{
	margin-left:5px;
	color: #b4b4b4;
}
/*.fm-form label{
	width:80px;
	margin-right:2px;
!*	text-align: right;*!
	display:inline-block;
}*/
.fm-form li{
	margin-top: 5px;
}
.fm-form tr td{
	text-align:right;
	height: 30px;
}

.searchform-table tr td{
	text-align:right;
	height: 30px;
}
.searchform-table label{
	width:80px;
	margin-right:2px;
	text-align: right;
	display:inline-block;
}
.fm-form-table tr td{
	text-align:left;
	height: 30px;
}

.even-tr{
	background-color: #fafafa;
}
.pagination-table {
	width:100%;
	border: 1px solid #d9dadc;
	border-bottom:none;
	border-collapse: collapse;
}
.pagination-table thead{
	font-weight:bold;
	background-color:#f3f3f3;
}
.pagination-table tr td{
	border: 1px dotted #d9dadc;
	text-align: center;
	height: 30px;
	line-height:30px;
}
.pagination-table thead tr td{
	height: 35px;
}

.fm-table{
	width:100%;
	border: 1px solid #d9dadc;
	border-collapse: collapse;
}
.fm-table thead{
	font-weight:bold;
	background-color:#f3f3f3;
}
.fm-table tr td{
	border: 1px dotted #d9dadc;
	text-align: center;
	height: 30px;
	line-height:30px;
}
.fm-table thead tr td{
	height: 35px;
}

.pagination-div {
	border: 1px solid #d9dadc;
	border-top: none;
	height:40px;
	line-height:45px;
	background-color:#fff;
}
.pagination-div a{
	margin: 0 10px;
}
.pagination-div span{
	margin: 0 10px;
}
.pagination-div a:hover{
	text-decoration: none;
}
.pagination-div .disable-a{
	color:#6e6e6e;
}
.pagination-div .disable-a:hover{
	color:#6e6e6e;
}

.msg-item{
	font-size: 14px;
	margin-top: 10px;
	padding: 8px 5px;
	line-height:18px;
	word-spacing:1px;
}
.msg-item div{
	text-align:left;
}

.wx-pic{
	margin-top:50px;
	width:490px;
	height:273px;
	background: url(./images/wx-pic.jpg) no-repeat;
}
.tuijian{
	float:right;
	height:130px;
}
.tuijian-block{
	margin-top:10px;
	float: left;
	width:100px;
	height:120px;
}
.tuijian-block img{
	width:80px;
	height:80px;
	border:none;
}
